@page "/expense-form/{id}"
@using DissertationArtefact.Shared
@inject HttpClient Http
@inject NavigationManager NavManager



@if (expense == null)
{
    <p><em>Loading expense</em></p>
}
else
{

    <h1>Expense Form                         
        <button class="btn btn-danger"
            @onclick="@((async () => await Delete(expense)))">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg>
        </button>
    </h1>

    <form>
        <div class="form-group">
            <label for="" class="form-label">Expense Name: </label>
            <input @bind="@expense.LabelName" class="form-control" />
        </div>

        <div class="form-group">
            <label for="" class="form-label">Payment Date:</label>
            <input @bind="@expense.PaymentDate" @bind:format="yyyy-MM-dd" class="form-control" />
        </div>

        <div class="form-group" hidden="">
            <label for="" class="form-label d-none d-sm-block">Frequency: </label>
            <select @bind="expense.Frequency" class="form-control">
                <option value="@ExpenseFrequencies.Annually">@nameof(ExpenseFrequencies.Annually)</option>
                <option value="@ExpenseFrequencies.Monthly">@nameof(ExpenseFrequencies.Monthly)</option>
                <option value="@ExpenseFrequencies.Weekly">@nameof(ExpenseFrequencies.Weekly)</option>
                <option value="@ExpenseFrequencies.OneTime">@nameof(ExpenseFrequencies.OneTime)</option>
            </select>
        </div>

        <div class="form-group">
            <label for="" class="form-label">Type: </label>
            <select @bind="expense.Type" class="form-control">
                <option value="@Types.Discretionary">@nameof(Types.Discretionary)</option>
                <option value="@Types.Essential">@nameof(Types.Essential)</option>
            </select>
        </div>

        <div class="form-group">
            <label for="" class="form-label">Category: </label>
            <select @bind="expense.Category" class="form-control">
                @foreach (Categories category in (Categories[])Enum.GetValues(typeof(Categories)))
                {

                    <option value="@category">@category</option>

                }
            </select>
        </div>

        <div class="form-group">
            <label for="" class="form-label">Amount: </label>
            <input @bind="@expense.Amount" class="form-control" />
        </div>
    </form>


    <!--Bootstrap button, look into syncfusion-->
    <button class="btn btn-primary" @onclick="@(async () => await Cancel())">Back</button>
    <button class="btn btn-success" @onclick="@(async () => await Save())">Save</button>

}



@code {

    [Parameter]
    public string id { get; set; }

    private Expense expense;
    private User user;
    private List<Expense> expenses;

    protected override async Task OnInitializedAsync()
    {
        string abc = "6091a3f06dbeb16f2aa3abd4";
        user = await Http.GetFromJsonAsync<User>($"api/users/{abc}");
        expenses = await Http.GetFromJsonAsync<List<Expense>>($"api/expense/user/{user.Id}");

        if (id == new Guid().ToString()) //(string.IsNullOrEmpty(id)) ...not sure what this is for.. might be tired eyes
        {
            expense = new Expense
            {
                Frequency = ExpenseFrequencies.OneTime,
                PaymentDate = DateTime.Now,
                UserId = user.Id
            };
        }
        else
        {
            expense = await Http.GetFromJsonAsync<Expense>($"api/expense/{id}");

            if (expense is null)
            {
                //expense = new Expense();
            }
        }
    }

    protected async Task Save()
    {
        expense.UserId = user.Id;
        var result = await Http.PostAsJsonAsync("api/expense", expense, null);

        NavManager.NavigateTo("expensesDB");
    }

    protected async Task Cancel()
    {
        NavManager.NavigateTo("expensesDB");
    }

    protected async Task Delete(Expense expense)
    {
        Console.WriteLine($"Deleting id:{expense.Id}");
        var result = await Http.DeleteAsync($"api/expense/{expense.Id}");

        expenses.Remove(expense);
    }
}

