@page "/expenses"
@using DissertationArtefact.Shared
@inject HttpClient Http

<h1>Expenses</h1>

@if (expenses == null)
{
    <p><em>Loading expenses...</em></p>
}
else
{ 



<table class="table">
    <thead>
        <tr>

            <th>Name</th>
            <th>Payment Date</th>
            <th>Frequency</th>
            <th>Category</th>
            <th>Type</th>
            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var expense in expenses)
        {
        <tr>

            <td>@expense.LabelName</td>
            <td>@expense.PaymentDate</td>
            <td>@expense.Frequency</td>
            <td>@expense.Category</td>
            <td>@expense.Type</td>
            <td>@expense.Amount.ToString("£0.00")</td>

        </tr>
        }
    </tbody>
</table>

}

@code {
    private Expense[] expenses;

    protected override async Task OnInitializedAsync()
    {
        expenses = await Http.GetFromJsonAsync<Expense[]>
    ("Expense");
    }

    }
