@inherits LayoutComponentBase
@inject HttpClient Http
@using DissertationArtefact.Shared;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (!(user is null))
            {
            <NavLink class="nav-link" href="@link">
                <div class="ml-md-auto">User</div>
                @*<span title="@user.Email">@user.Name</span>*@
            </NavLink>

                <span title="@user.Email">@user.Name</span>
            }
            else
            {
                <NavLink class="nav-link" href="user">
                    <span title="New User">User :-)</span>

                </NavLink>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private string link;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        string abc = "6091a3f06dbeb16f2aa3abd4";
        user = await Http.GetFromJsonAsync<User>($"api/users/{abc}");
        link = "user/" + user.Id;
    }
}
